@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}
.container {
  width: 33%;
  padding: 1rem;
  margin-bottom: 5px;
}
.container div .img img {
  border-radius: 24px;
  height: 267px;
  width: 100%;
}
.container div h4 {
  margin-top: -20px;
  font-weight: 700;
}
.container .des {
  display: flex;
  font-size: 14px;
  margin-top: 10px;
  color: #828282;
  height: 10vh;
  font-weight: bold;
}
.container .des .type {
  width: 180%;
}
.container .des .host {
  width: auto;
  text-transform: uppercase;
  text-align: center;
  margin-right: 10px;
}
.container .des div .first-p {
  width: 100px;
  border: 1px solid #828282;
  border-radius: 13px;
  padding: 0.5rem;
  margin-top: -8px;
  font-size: 12px;
  color: #4f4f4f;
  font-weight: bolder;
}
.align-end {
  text-align: end;
}
.align-center {
  text-align: center;
}
.stays {
  display: grid;
  padding: 0rem 3rem 0 3rem;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.stays_length {
  padding: 0rem 1rem 0rem 0rem;
}
.stays h2 {
  font-size: larger;
  color: #333333;
}
.stays h5 {
  text-align: end;
  font-size: 15px;
  color: #4f4f4f;
}
.filter {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  width: auto;
  float: right;
  font-weight: 500;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 0.5rem;
  cursor: pointer;
}
.filter-drawer {
  padding: 3.5rem;
}

.drawer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: auto;
}
/* .search_drawer {
  padding-left: 1rem;
} */
.filter div {
  float: left;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  padding: 0rem 3rem;
}
.logo img {
  width: 100px;
  height: 40px;
  float: left;
}
.stays_location {
  width: 150px;
  border-right: 1px solid #f2f2f2;
}

.guest {
  width: 120px;
  border-right: 1px solid #f2f2f2;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 100%;
  padding: 0.2rem;
}
.btn-s {
  text-align: center;
}
.items {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  font-size: 14px;
}
.sub_item {
  margin-top: 10px;
}
.btn-i {
  background: #eb5757;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #ffffff;
}
.btn {
  width: 100px;
  padding: 1rem;
  cursor: pointer;
}
.all {
  background-color: #ffffff;
  width: 100%;
}

@media screen and (max-width: 1037px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
  .location {
    padding: 2.5rem;
  }
  .container div .img img {
    height: 260px;
  }
  .filter {
    float: none;
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 610px) {
  .container {
    width: 90%;
  }
  .location {
    padding: 1rem;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .logo {
    padding: 0rem;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    min-width: 100px;
  }
  .container div .img img {
    min-width: 220px;
    height: 220px;
    width: 100%;
  }
  .container div h4 {
    margin-top: 0px;
  }
  .container .des div .first-p {
    padding: 0.4rem;
    font-size: 11px;
    width: 90px;
  }
}
@media screen and (max-width: 330px) {
  .container .des div .first-p {
    margin-top: 7px;
  }
  .container div h4 {
    font-size: 14.5px;
  }
  .stays h2 {
    font-size: 15px;
  }
  .stays h5 {
    font-size: 13px;
  }
}
@media screen and (max-width: 250px) {
  .stays {
    display: grid;
    grid-template-columns: auto;
  }
}
